<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row1">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor unitario</th>
                <th scope="col">Valor total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for lst in lista %}
              <tr>
                <th scope="row">{{ lst.2 }}</th>
                <td>{{ lst.1 }}</td>
                <td>{{ lst.3 }}</td>
                <td>{{ lst.4 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    
        <div  class="input-group mb-3">
            <h2>Metodo de pago</h2>
            <select class="custom-select" id="inputGroupSelect01" name="met_pg">
                <option selected>Choose...</option>
                <option value="1">Consignación</option>
                <option value="2">Giro</option>
                <option value="3">Tarjeta</option>
              </select>
    
          
    
        </div>
        <div  class="input-group mb-3">
            <h2>Metodo de envío</h2>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Choose...</option>
                <option value="1">Servioentrega</option>
                <option value="2">Interrapidisimo</option>

              </select>
    
          
    
        </div>
        <div  class="input-group mb-3">
            <h2>Total---</h2>
            {% for ttl in total %}
            <h2>{{ ttl.0 }}</h2>
            {% endfor %}
          
    
        </div>
        <div  class="input-group mb-3">
            
            <a href="{{url_for('add_insers')}}"><button class="btn btn-primary btn-lg">Confirmar</button></a>
        </div>
 
    
   

</div>