{% extends 'layout.html'%}

{% block cuerpo %}
<section class="header-feahion">
    <img src="static/img/banner.jpg" alt="">
    <div class="header-text">
        
    </div>
</section>
<section class="product-s-display">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="s_display">
                    <img src="static/img/vestidos.png" alt="">
                    <h2>VESTIDOS</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="s_display">
                   <img src="static/img/camisetas.jpg" alt="">
                   <h2>BLUSAS</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="s_display">
                    <img src="static/img/s-display2.jpg" alt="">
                    <h2>CAMISETAS</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="related-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bar">
                        <h2>Recomendado para ti</h2>
                        <img alt="" src="static/img/bar1.png">
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="s_product">
                            <img alt="" src="static/img/t-shart.jpg">
                            <div class="s_overlay"></div>
                            <h2>SALE!</h2>
                            <h3>T-SHIRT</h3>
                            <h4><i aria-hidden="true" class="fa fa-cart-arrow-down"></i>ADD TO CART</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rate">
                                    <h3>Pocket Tee</h3>
                                    <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><span><i aria-hidden="true" class="fa fa-star"></i></span></p>
                                    <h5>$250</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="s_product">
                            <img alt="" src="static/img/t-shart1.jpg">
                            <div class="s_overlay"></div>
                            <h3>T-SHIRT</h3>
                            <h4><i aria-hidden="true" class="fa fa-cart-arrow-down"></i>ADD TO CART</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rate">
                                    <h3>Pocket Tee</h3>
                                    <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><span><i aria-hidden="true" class="fa fa-star"></i></span></p>
                                    <h5>$250</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="s_product">
                            <img alt="" src="static/img/t-shart2.jpg">
                            <div class="s_overlay"></div>
                            <h3>T-SHIRT</h3>
                            <h4><i aria-hidden="true" class="fa fa-cart-arrow-down"></i>ADD TO CART</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rate">
                                    <h3>Pocket Tee</h3>
                                    <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></p>
                                    <h5>$250</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="s_product">
                            <img alt="" src="static/img/t-shart3.jpg">
                            <div class="s_overlay"></div>
                            <h2>NEW!</h2>
                            <h3>JACKET</h3>
                            <h4><i aria-hidden="true" class="fa fa-cart-arrow-down"></i>ADD TO CART</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rate">
                                    <h3>Pocket Tee</h3>
                                    <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></p>
                                    <h5>$250</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<section class="season">
   <img src="static/img/season.jpg" alt="">
    <div class="ovearlay"></div>
    <div class="text">
        <h2>End of season sale </h2>
        <h3>Up to 35% off Women’s Denim </h3>
    </div>
</section>
<section class="latest-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bar">
                <h2>Latest products</h2>
                    <img src="static/img/bar1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product-single">
                   <div class="single-overlay"></div>
                    <img src="static/img/product-single1.jpg" alt="">
                    <a href="static/img/product-single1.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="prodact-s-text">
                                <h3>Pocket Tee</h3>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><span><i class="fa fa-star" aria-hidden="true"></i></span></p>
                                <h5>$250</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single">
                   <div class="single-overlay"></div>
                    <img src="static/img/product-single2.jpg" alt="">
                    <a href="static/img/product-single2.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="prodact-s-text">
                                <h3>Pocket Tee</h3>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><span><i class="fa fa-star" aria-hidden="true"></i></span></p>
                                <h5>$250</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single">
                   <div class="single-overlay"></div>
                    <img src="static/img/product-single3.jpg" alt="">
                    <a href="static/img/product-single3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="prodact-s-text">
                                <h3>Pocket Tee</h3>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                                <h5>$250</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single">
                   <div class="single-overlay"></div>
                    <img src="static/img/product-single4.jpg" alt="">
                    <a href="static/img/product-single4.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="prodact-s-text">
                                <h3>Pocket Tee</h3>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                                <h5>$250</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="t-shart-brand">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <img src="static/img/t-shart-brand1.jpg" alt="">
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>All Brand T-sharts</h2>
                        <a href="#"><p>See More</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <img src="static/img/s-bag.jpg" alt="">
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>All Brand T-sharts</h2>
                        <a href="#"><p>See More</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <img src="static/img/w-bag.jpg" alt="">
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>All Brand T-sharts</h2>
                        <a href="#"><p>See More</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</section>
    
<section class="best-seller">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bar">
                    <h2>BEST SELLERS</h2>
                    <img alt="" src="static/img/bar1.png">
                </div>
            </div>
        </div>
        <div class="best-seller-part">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <img src="static/img/best-sell-img.jpg" alt="">
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>QUICK VIEW</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Pocket Tee</h3>
                                        <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><span><i aria-hidden="true" class="fa fa-star"></i></span></p>
                                        <h5>$250</h5>
                                        <p class="cart">ADD TO CART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <img src="static/img/best-sell-img1.jpg" alt="">
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>QUICK VIEW</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Pocket Tee</h3>
                                        <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><span><i aria-hidden="true" class="fa fa-star"></i></span></p>
                                        <h5>$250</h5>
                                        <p class="cart">ADD TO CART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <img src="static/img/best-sell-img2.jpg" alt="">
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>QUICK VIEW</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Pocket Tee</h3>
                                        <p><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><span><i aria-hidden="true" class="fa fa-star"></i></span></p>
                                        <h5>$250</h5>
                                        <p class="cart">ADD TO CART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-5">
                    <div class="winter-cloth">
                   <div class="big-cloth">
                       <img src="static/img/big-cloth.jpg" alt="">
                   </div>
                   <div class="row">
                      <div class="col-md-12">
                           <div class="s-cloth">
                               <img src="static/img/s-cloth.jpg" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="static/img/s-cloth.jpg" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="static/img/s-cloth.jpg" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="static/img/s-cloth.jpg" alt="">
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="w_text">
                               <h4>LOREM IPSU, DOLOR SITE EMIT</h4>
                               <h5>Lorem</h5>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-6">
                           <div class="dollar">
                               <p>&#36;399.99</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="option">
                               <button>SELECT OPTION</button>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
    
<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bar">
                    <h2>BRANDS WE STOCK</h2>
                    <img src="static/img/bar1.png" alt="">
                </div>
            </div>
        </div>
        
    </div>
</section>
    <section class="yyyy">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="slider-container">
                    <ul id="slider">
                        <li><a href="#"><img src="static/img/brand-img1.jpg"></a></li>
                        <li><a href="#"><img src="static/img/brand-img2.jpg"></a></li>
                        <li><a href="#"><img src="static/img/brand-img3.jpg"></a></li>
                        <li><a href="#"><img src="static/img/brand-img4.jpg"></a></li>
                        <li><a href="#"><img src="static/img/brand-img5.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    
    <section class="featured">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="f-images-text">
                        <h2>Best Selling</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide1.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide2.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="f-images-text-two">
                        <h2>Top Rated</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                    <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><span><i class="fa fa-star" aria-hidden="true"></i></span></p>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide1.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                    <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><span><i class="fa fa-star" aria-hidden="true"></i></span></p>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide2.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                    <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><span><i class="fa fa-star" aria-hidden="true"></i></span></p>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="f-images-text">
                        <h2>Featured</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide1.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-text">
                                    <img src="static/img/slide2.jpg" alt="">
                                    <div class="text">
                                        <h4>Lorem ipsum dolor</h4>
                                        <h5>$200.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="fashion">
      <div class="f-overlay"></div>
       <img src="static/img/footer-top-images.jpg" alt="">
        <h2>FASHION NEW</h2>
    </section>

    

{% endblock %}